NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_BOOKEA_PUBLIC_URL=https://bookeai.fr
NEXT_PUBLIC_BOOKEA_PRO_URL=https://app.bookeai.fr
NEXT_PUBLIC_BOOKEA_ADMIN_URL=https://admin.bookeai.fr

NEXT_PUBLIC_DEFAULT_CENTER_SLUG=jfg-clinique-clermont

META_APP_ID=
META_APP_SECRET=
META_VERIFY_TOKEN=bookea-meta-leads-2026

NEXT_PUBLIC_WHATSAPP_NUMBER=0623165061
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_WABA_ID=20162664690279331
WHATSAPP_VERIFY_TOKEN=

BREVO_API_KEY=
BREVO_SMS_SENDER=JFGCLINIC
BREVO_EMAIL_SENDER=
BREVO_EMAIL_SENDER_NAME=Bookea
CRON_SECRET=
